body{
    background-color: rgb(183, 119, 160);
}
section {
font-family: "sweet-gothic", sans-serif;
font-weight: 500;
font-style: normal;
    }
/* font styles */
h1{
    font-family: "Funkydori", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px; 
    margin: 0px;
}
h2{
    font-family: "sweet-gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px; 
}
h3{
    font-family: "sweet-gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h4{
    font-family: "sweet-gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
}
svg {
    fill:black
}
svg {
    size: 10px;
}
svg:hover{
    fill:burlywood
}
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". t t t t t h h h h h ."
        ". b b b b . h h h h h ."
        ". b b b b . h h h h h ."
        ". i i i i . h h h h h ."
        ". i i i i . h h h h h .";
}


.text-container {
    grid-area: t;
}
.text-container h1 {
    margin-bottom: 0.2em; /* Adjust this value as needed */
  }
  
  .text-container h2 {
    margin-top: 0; /* Remove any top margin */
  }

.butterfly-container {
    grid-area: b;
}

.icon-container {
    grid-area: i;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto;
    grid-gap:200px;

}

.hero-image-container {
    grid-area: h;
    /* width: 10px;  */
}


/* settings for mobile layout */
@media screen and (max-width: 750px) {
    .icon-container {
       gap: 10px;
      }
    }