body{
    background-color: rgb(183, 119, 160);
    font-family: "Funkydori" ;

}
svg {
    fill:black
}
svg {
    size: 10px;
}
svg:hover{
    fill:burlywood
}
.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
        ". t t t t t . . . . . ."
        ". . b b . . . h h h h ."
        ". i i . c c . h h h h ."
        ". i i . c c . h h h h ."
        ". . . . . . . h h h h ."
        ". . . . . . . . . . . .";
}

.text-container {
    grid-area: t;
}

.icon-text-container {
    grid-area: c;
}

.butterfly-container {
    grid-area: b;
}

.icon-container {
    grid-area: i;
}

.hero-image-container {
    grid-area: h;
}


/* settings for mobile layout */
@media screen and (max-width: 750px) {
    .icon-container {
       gap: 10px;
      }
    }